<div class="panel panel-default main-container">
    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Please follow the steps to build your query</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default" >
                    <div class="panel-heading"><strong>STEP 1 :</strong> Select Dataset</div>
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="dropdown clear-dataset">
                                  <button class="btn btn-default dropdown-toggle clear-dataset col-md-12" type="button" id="dd_select_dataset" data-toggle="dropdown">
                                    Choose a Dataset&nbsp;
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu col-md-12" role="menu" aria-labelledby="dd_select_dataset">
                                    <%get_datasets.each do |k,v|%>
                                       <li role="presentation"><a role="menuitem" tabindex="-1" onclick="QueryBuilder.datasets.select('<%=v%>')"><%=k%></a></li> 
                                    <%end%>
                                  </ul>
                                </div>
                                <%=render :partial=>"shared/selector", :locals=>{:hidden_value_id=>"hdn_qb_dataset", :div_classes=>"done-dataset", :div_id=>"div_select_dataset", :remove_function=>"QueryBuilder.datasets.reset()", :hidden_value_value=>""}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-4" id="div_qb_select_class" style="display:none;">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>STEP 2 :</strong> Select Class</div>
                    <div class="panel-body">
                        <div class="row clear-search-class">
                            <div class="col-md-12">
                                <div class="row">
                                  <div class="col-lg-12">
                                      <input type="text" class="form-control" placeholder="eg, Actor, City ..." id="txt_search_classes" required >
                                      <input type="hidden" id="hdn_searched_class_value" />
                                      <input type="hidden" id="hdn_done_searching_class" value="false"/>
                                  </div><!-- /.col-lg-6 -->
                                </div><!-- /.row -->
                            </div>
                        </div>
                        <div class="row" id="qb_class_search_loading" style="display:none;">
                            <div class="col-md-12">
                                <center><%=image_tag "jar-loading.gif" , :height=>"130px"%></center>
                            </div>
                        </div>
                        <div class="row" id="qb_class_search_error"  style="display:none;">
                            <div class="col-md-12 ">
                                <div class="alert alert-danger" style="margin-top:20px;"></div>
                            </div>
                        </div>
                        <div class="row" id="div_classes_search_result">
                            <div class="col-md-12">
                                
                                <%=render :partial=>"shared/selector", :locals=>{:hidden_value_id=>"hdn_qb_class", :div_classes=>"done-search-class", :div_id=>"div_selected_class", :remove_function=>"QueryBuilder.reset_searched_class()", :hidden_value_value=>""}%>
                            </div>
                        </div>
                        <div class="row" id="div_classes_search_more" style="display:none;">
                            <div class="col-md-12">
                                <button class="btn btn-warning col-md-12" type="button" id="btn_classes_search_more">More details on </button>
                            </div>
                        </div>
                    </div>
                    <div class="list-group" id="tbl_classes_search_result"></div>
                </div>
            </div>
            <div class="col-md-4" style="display:none" id="div_qb_properties">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>STEP 3 :</strong> FILTER Properties
                    </div>
                    <div class="panel-body">
                        <small>You can filter properties from various options here</small>
                    </div>
                    <div class="panel-heading alert property-subclass-header" uri="" id="property_main_subclass_header">
                        <div class="row">
                            <div class="col-md-9">
                                Sub-Classes
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-xs" onclick="QueryBuilder.properties.get_subclasses_for_selected_class()">more</button>
                            </div>
                        </div>
                    </div>
                    <div class="list-group" id="property_main_subclasses_group" subclasses="all"> 
                        <a class="list-group-item property-subclass-group" href="javascript:void(0)"><strong>All</strong></a>
                    </div>
                    <div class="row" id="qb_properties_sub_classes_loading" style="display:none;">
                            <div class="col-md-12">
                                <center><%=image_tag "jar-loading.gif" , :height=>"130px"%></center>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row qb-equivalent-query-main" style="display:none;">
            <div class="col-md-12">
                <%=render :partial=>"query/sparql_query_editor", :locals=>{:mode=>"builder"}%>
            </div>
        </div>

        <%=render :partial=>"query/search_results"%>
    </div>
    
</div>
<div class="row" id="template_row_loading" style="display:none;">
        <div class="col-md-12">
            <center><%=image_tag "jar-loading.gif" , :height=>"130px"%></center>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.dropdown-toggle').dropdown();
    });
    $("#txt_search_classes").bind('input',function(){QueryBuilder.search_classes_change();});
</script>
