var list_group_datatype = $("#property_main_properties_datatype_group");
var list_group_object = $("#property_main_properties_object_group");
$("#btn_properties_properties_object_more").hide("fast");
$("#btn_properties_properties_datatype_more").hide("fast");
$("#qb_properties_properties_datatype_loading").hide("fast");
$("#property_main_properties_datatype_group").html("");
<%@properties[:data_type].each do |p|%>
	var html = "<div href='javascript:void(0);' class='list-group-item clickable' uri='<%=p['uri']%>' display-name='<%=p['label']%>' clicked='false' ><div class='row'><div class='col-md-5' onclick=\"QueryBuilder.properties.property_click('<%=p['uri']%>','<%=p['label']%>','datatype','<%=p['range']['uri']%>','<%=p['range']['label']%>','<%=p['count']%>')\" ><%=p['label']%></div><div class='col-md-4' onclick=\"QueryBuilder.properties.property_click('<%=p['uri']%>','<%=p['label']%>','datatype','<%=p['range']['uri']%>','<%=p['range']['label']%>','<%=p['count']%>')\" ><span class='badge span-property-range span-property-range-data' property-uri=\"<%=p['uri']%>\"><%=p['range']['label']%></span></div><div class='col-md-2'><span class='badge'>"+get_long_number_display(<%=p['count']%>)+"</span></div><div class='col-md-1'><input type=\"checkbox\" name=\"cb_property_range\" class='cb-property-range' range-type='data' value=\"<%=p['uri']%>\" checked='checked' onclick=\"QueryBuilder.properties.checkbox_click()\"/></div></div></div>";
	$(list_group_datatype).append(html);
<%end%>
$("#property_main_properties_datatype_group").show("fast");
$("#qb_properties_properties_object_loading").hide("fast");
$("#property_main_properties_object_group").html("");
<%@properties[:object_type].each do |p|%>
	var html = "<div href='javascript:void(0);' class='list-group-item clickable' uri='<%=p['uri']%>' display-name='<%=p['label']%>' clicked='false' ><div class='row'><div class='col-md-5' onclick=\"QueryBuilder.properties.property_click('<%=p['uri']%>','<%=p['label']%>','object','<%=p['range']['uri']%>','<%=p['range']['label']%>','<%=p['count']%>')\" ><%=p['label']%></div><div class='col-md-4 ' onclick=\"QueryBuilder.properties.property_click('<%=p['uri']%>','<%=p['label']%>','object','<%=p['range']['uri']%>','<%=p['range']['label']%>','<%=p['count']%>')\" ><span class='badge span-property-range span-property-range-object' property-uri=\"<%=p['uri']%>\"><%=p['range']['label'].capitalize%></span></div><div class='col-md-2'><span class='badge'>"+get_long_number_display(<%=p['count']%>)+"</span></div><div class='col-md-1'><input type=\"checkbox\" name=\"cb_property_range\" class='cb-property-range' range-type='object' value=\"<%=p['uri']%>\" checked='checked' onclick=\"QueryBuilder.properties.checkbox_click()\"/></div></div></div>";
	$(list_group_object).append(html);
<%end%>
$("#property_main_properties_object_group").show("fast");
QueryBuilder.properties.generate_range_badge_colors();