hide_loading();
var selector_modal = $("#class_selector_modal");
selector_modal.find(".modal-title").first().html("\"<%=params[:property_name]%>\" FILTER");
<%if @property_ranges[:type] == "object"%>
	selector_modal.find(".modal-body").first().html("<%=escape_javascript render :partial=>'query/properties_selector_body', :locals=>{:mode=>'object'}%>");
	$("#hdn_objects_of_class").val("<%=@property_ranges[:data].collect{|c| c[:value]}.join(',')%>");
	$("#txt_search_objects").bind('input',function(){QueryBuilder.objects.search_change();});
	<%
		display_object_classes = ""
		@property_ranges[:data].each do |d|
			display_object_classes += ", " unless display_object_classes.blank?
			display_object_classes += "<span class='badge'>" + d[:name].capitalize + "</span>"
		end
	%>
	$("#object_selector_header").find("p").first().html("Search objects for <%=display_object_classes.html_safe%>");
	selector_modal.find(".modal-footer").hide();
<%else%>
	selector_modal.find(".modal-body").first().html("<%=escape_javascript render :partial=>'query/properties_selector_body', :locals=>{:mode=>'datatype'}%>");
	selector_modal.find(".modal-footer").show();
<%end%>
selector_modal.modal("show");
