<!DOCTYPE html>
<html>
	<head>
	  <title>ExConQuer:: Query Builder</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render :partial=>"shared/navbar_top"%>
		<div id="page_container" class="container">
			<div class="row">
				<div class="col-md-12">
					<%= yield %>
				</div>
			</div>
		</div>
		<div id="loading" style="display:none;">
        	<%=image_tag "jar-loading.gif", :class=>"ajax-loader"%>
    	</div>
    	<%= render :partial=>"shared/alert"%>
    	<%= render :partial=>"shared/uri_viewer"%>
	</body>
</html>
